@import '//at.alicdn.com/t/font_1990743_0vikvn1qg7sr.css';
@import './data-entry/input.less';
body{
  --primary-color:#1890ff;
  --primary-box-shadow:#d8ebfc;
  --font-size-base: 14px; // 主字号
  --border-color-base: #f2f2f2; // 边框色
  --heading-color: rgba(0, 0, 0, 0.85); // 标题色
  --text-color: rgba(0, 0, 0, 0.65); // 主文本色
  --disabled-color: rgba(0, 0, 0, .05); // 失效色
  --box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影
  --border-radius-base: 2px; // 组件/浮层圆角
  margin: 0;
  padding:0;
  div, input, span, textarea, label{
    box-sizing: border-box;
  }
}