@primary-color:#4569d4;
@primary-box-shadow:#d8e2fc;
@font-size-base: 12px; // 主字号
@border-color-base: #d9d9d9; // 边框色
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@disabled-color: rgba(0, 0, 0, .05); // 失效色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影
@border-radius-base: 4px; // 组件/浮层圆角
@import '//at.alicdn.com/t/font_1990743_q0y33bn4w0k.css';
@import './general/button.less';
@import './data-display/empty.less';
@import './data-entry/input.less';
@import './data-entry/checkbox.less';
@import './data-entry/radio.less';
@import './data-entry/switch.less';
@import './data-entry/select.less';
@import './data-entry/auto-complete.less';
body{
  margin: 0;
  padding:0;
  div, input, span, textarea, label, button{
    box-sizing: border-box;
  }
}