.sui-nav, .sui-nav-dark{
  width:100%;
  transition: .5s;
  .sui-nav-subMenu{
    color:@text-color;
    font-size:13px;
    width:100%;
    cursor: pointer;
    animation: menu-expand-animation .3s ease-in;
    .sui-nav-subMenu-label{
      display:flex;
      align-items: center;
      justify-content: space-between;
      width:100%;
      height:46px;
      box-sizing: border-box;
      border-right:3px solid transparent;
      transition: .5s;
      .sui-nav-subMenu-label-left{
        display:flex;
        align-items: center;
        transition: .3s;
        width:calc(100% - 24px);
        .sui-icon{
          width:24px;
          margin-right: 2px;
        }
        span{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: relative;
          width:calc(100% - 24px);
        }
      }
      .suiconxialadown{
        transition: .5s;
        font-weight: 900;
      }
      &:hover{
        .sui-nav-subMenu-label-left, .suiconxialadown{
          span{
            color:@primary-color !important;
          }
          transition: .3s;
          color:@primary-color !important;
        }
      }
    }
    .sui-nav-subMenu-label-open{
      .suiconxialadown{
        transition: .5s;
        transform: rotate(180deg);
      }
    }
    .sui-nav-subMenu-hidden{
      display:none;
    }
  }
  .sui-nav-subMenu-active{
    transition: .5s;
    background-color: @primary-box-shadow;
    .sui-nav-subMenu-label{
      border-color:@primary-color;
      .sui-nav-subMenu-label-left{
        span{
          color: @primary-color;
        }
      }
    }
  }
  .sui-nav-subMenu-selected{
    .sui-nav-subMenu-collapsed{
      .sui-icon{
        font-size: 26px;
        color: @primary-color;
      }
    }
    .sui-nav-subMenu-parent{
      .sui-nav-subMenu-label-left{
        transition: .3s;
        .sui-icon, span{
          color: @primary-color;
        }
      }
    }
  }
  .sui-nav-subMenu-disabled{
    transition: .3s;
    cursor: not-allowed !important;
    opacity: .4;
    .sui-nav-subMenu-label-left{
      color: @text-color !important;
    }
    &:hover{
      .sui-nav-subMenu-label{
        .sui-nav-subMenu-label-left, .suiconxialadown{
          color:@text-color !important;
        }
      }
    }
  }
}
.sui-nav-dark{
  background-color: #000c17;
  .sui-nav-subMenu{
    .sui-nav-subMenu-label{
      border-right:3px solid #000c17;
      color:#ffffffa6 !important;
      .sui-nav-subMenu-label-left, .suiconxialadown{
        color:#ffffffa6 !important;
        span{
          color:#ffffffa6 !important;
        }
      }
      &:hover{
        .sui-nav-subMenu-label-left, .suiconxialadown{
          color:#fff !important;
          span{
            color:#fff !important;
          }
        }
      }
    }
    .sui-nav-subMenu-collapsed{
      .sui-icon{
        color: #999 !important;
      }
    }
  }
  .sui-nav-subMenu-active{
    background-color: @primary-color;
    .sui-nav-subMenu-label{
      border-color:@primary-color;
      color: #fff;
      .sui-nav-subMenu-label-left{
        color: #fff;
        span, .sui-icon{
          color: #fff !important;
        }
      }
    }
  }
  .sui-nav-subMenu-parent{
    background-color: #001629;
  }
  .sui-nav-subMenu-selected{
    .sui-nav-subMenu-parent{
      border-right:3px solid #000c17;
      color:#fff !important;
      .sui-nav-subMenu-label-left, .suiconxialadown{
        color:#fff !important;
        span, .sui-icon{
          color:#fff !important;
        }
      }
    }
    .sui-nav-subMenu-collapsed{
      .sui-icon{
        color: #fff !important;
      }
    }
  }
  .sui-nav-subMenu-disabled{
    .sui-nav-subMenu-label-left{
      color: #fff !important;
    }
    &:hover{
      .sui-nav-subMenu-label{
        .sui-nav-subMenu-label-left, .suiconxialadown{
          color:#fff !important;
        }
      }
    }
  }
}
@keyframes menu-expand-animation{
  0%{
    transform:scale(0)
  }
  100%{
    transform:scale(1)
  }
}
.sui-menu-horizontal, .sui-menu-horizontal-dark{
  width:100%;
  height:64px;
  display: flex;
  .sui-menu-horizontal-item{
    display: flex;
    align-items: center;
    height:64px;
    cursor: pointer;
    font-size: 13px;
    color:@text-color;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    &:hover{
      border-bottom-color:@primary-color;
      span{
        color:@primary-color;
      }
    }
  }
  .sui-menu-horizontal-item-selected{
    color:@primary-color;
    border-bottom-color:@primary-color;
    span{
      color:@primary-color;
    }
  }
  .sui-menu-horizontal-item-disabled{
    opacity: .6;
    cursor:not-allowed;
  }
}
.sui-menu-horizontal-dark{
  background-color: #001629;
  .sui-menu-horizontal-item{
    color:#ccc;
    border:0;
    span{
      color:#ccc;
    }
    transition: .6s;
    &:hover{
      transition: .6s;
      color:#fff;
      span{
        color:#fff;
      }
      background-color:@primary-color;
    }
  }
  .sui-menu-horizontal-item-selected{
    color:#fff;
    background-color:@primary-color;
    span{
      color:#fff;
    }
  }
}
.sui-menu-horizontal-item{
  display: flex;
  align-items: center;
  height:40px;
  padding:0 20px;
  cursor: pointer;
  font-size: 13px;
  color:@text-color;
  transition: .6s;
  .sui-icon{
    margin-right:10px;
  }
  &:hover{
    color: @primary-color;
    transition: .6s;
  }
}
.sui-menu-horizontal-item-disabled{
  opacity: .6;
  cursor:not-allowed !important;
}