.sui-layout{
  width:100%;
  height:100%;
  .sui-layout-header{
    height:64px;
    width:100%;
    padding:0 20px;
    display:flex;
    align-items: center;
  }
  .sui-layout-sider{
    height:calc(100% - 64px);
    width:200px;
  }
  .sui-layout-content{
    width:calc(100% - 200px);
    height:calc(100% - 128px)
  }
  .sui-layout-footer{
    height:64px;
    width:100%;
    padding:0 20px;
    display:flex;
    align-items: center;
  }
}