.sui-modal{
  width:600px;
  height:400px;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #fff;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.137);
  z-index: 930230;
  animation: modal-show .3s ease-in;
  .sui-modal-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size:15px;
    padding: 0 16px;
    color:@text-color;
    z-index: 2;
    position: relative;
    background-color:inherit;
    border-bottom: 1px solid #f4f4f4;
    .suiconguanbi{
      font-size:18px;
      color:@text-color;
      cursor: pointer;
      width: 30px;
      height: 30px;
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: .3s;
      &:active{
        background-color: @primary-box-shadow;
        transition: .3s;
      }
    }
  }
  .sui-modal-body{
    height: calc(~'100% - 102px');
    padding: 10px;
    color: @text-color;
    z-index: 2;
    position: relative;
    background-color:inherit;
  }
  .sui-modal-footer{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    z-index: 2;
    position: relative;
    background-color:inherit;
    border-top: 1px solid #f4f4f4;
    .sui-btn{
      margin: 0 10px;
    }
  }
}
.sui-modal-mask,.sui-modal-mask-none{
  width:100vw;
  height:100vh;
  background: rgba(5, 5, 5, 0.432);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 930220;
}
.sui-modal-mask{
  animation: modal-show-mask .3s ease-in;
}
.sui-modal-mask-none{
  background: transparent;
}
@keyframes modal-show{
  0%{transform: translate(-50%, -200%);}
  100%{transform: translate(-50%, 0%);}
}
@keyframes modal-show-mask{
  0%{background: transparent;}
  100%{background: rgba(5, 5, 5, 0.432);}
}