// input
.sui-input-wrapper{
  width:100%;
  height: 32px;
  display: flex;
  align-items: center;
  border:0;
  color: @text-color;
  font-size:@font-size-base;
  position: relative;
  .sui-input, .sui-input-disabled{
    width:100%;
    border: 1px solid @border-color-base;
    outline: none;
    padding: 4px 8px;
    transition: .4s;
    height: 32px;
    font-size: inherit;
    color: inherit;
    border-radius: @border-radius-base;
  }
  .sui-input-disabled{
    background: @disabled-color;
    cursor: not-allowed;
  }
  .sui-input:focus{
    border-color: @primary-color;
    box-shadow: 0 0 0 2px @primary-box-shadow;
    transition: .4s;
  }
  .sui-input-addon-before, .sui-input-addon-after{
    min-width: 100px;
    max-width: 100px;
    text-align: center;
  }
  .sui-input-addon-before{
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .sui-input-addon-after{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .sui-input-prefix{
    position: absolute;
    left: 0;
    margin-left:8px;
  }
  .sui-input-suffix{
    position: absolute;
    right: 0;
    margin-right:8px;
  }
  .iconcuo{
    color: #aaa;
    cursor: pointer;
    transition: .3s;
  }
  .iconcuo:hover{
    color: #666;
    transition: .3s;
  }
}
// text-area
.sui-textarea-wrapper{
  flex-direction: column;
  height: auto;
  width:100%;
  display: flex;
  align-items: center;
  border:0;
  color: #333;
  font-size: 12px;
  position: relative;
  .sui-textarea, .sui-textarea-disabled{
    width:100%;
    border: 1px solid @border-color-base;
    outline: none;
    padding: 4px 8px;
    transition: .4s;
    max-width: 100%;
    min-width: 100%;
    height:64px;
    font-size: inherit;
    color: inherit;
    border-radius: @border-radius-base;
  }
  .sui-textarea-disabled{
    background: @disabled-color;
    cursor: not-allowed;
  }
  .sui-textarea:focus{
    border-color: @primary-color;
    box-shadow: 0 0 0 2px @primary-box-shadow;
    transition: .4s;
  }
  .sui-textarea-disabled{
    height:64px;
  }
  .sui-input-addon-before, .sui-input-addon-after{
    min-width: 100%;
    max-width: 100%;
    border: 1px solid @border-color-base;
  }
  .sui-input-addon-before{
    border-bottom:0;
    text-align: left;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .sui-input-addon-after{
    border-top:0;
    text-align: right;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
// public
.sui-input-wrapper, .sui-textarea-wrapper{
  .sui-input-addon-before, .sui-input-addon-after{
    height: 32px;
    line-height: 32px;
    background: #f8f8f8;
    padding: 0 10px;
    color: inherit;
    font-size: inherit;
    white-space: nowrap;
    padding:0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: @border-radius-base;
  }
}