.sui-table-wrapper{
  height:100%;
  width:100%;
  border:1px solid #f2f2f2;
  overflow-y: hidden;
  overflow-x: auto;
  .sui-table-header{
    align-items: center;
    background: #fafafa;
    height: 45px;
    width:100%;
    .sui-table-tr{
      font-weight: 900;
      &:hover{
        background-color: #fafafa !important;
      }
    }
  }
  .sui-table-body{
    background: #fff;
    min-width:100%;
    width:fit-content;
    height: calc(~'100% - 45px');
    overflow-y: auto;
    overflow-x: auto;
    .sui-table-tr{
      &:first-child{
        border-top:1px solid #f2f2f2;
      }
    }
  }
  .sui-table-header, .sui-table-body{
    .sui-table{
      height:100%;
      width:100%;
      .sui-table-tr{
        display: flex;
        align-items: center;
        border-bottom:1px  solid #f2f2f2;
        height: 45px;
        transition: .3s;
        &:last-child{
          border-bottom:0;
        }
        &:hover{
          background-color: @primary-box-shadow;
          transition: .3s;
        }
        .sui-table-td{
          padding:0 10px;
          height:100%;
          font-size:@font-size-base;
          position: relative;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        }
        .sui-table-td-grid{
          border-right:1px solid #f2f2f2;
          &:last-child{
            border-right:0;
          }
        }
        .sui-table-td-ellipsis{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          line-height: 46px;
        }
        .sui-table-td-sort{
          .sui-icon{
            cursor: pointer;
            transition: .6s;
            right:0;
            top:0;
            color:@text-color;
            position: relative;
            &:hover{
              cursor: pointer;
              color:@primary-color;
              transition: .6s
            }
          }
        }
      }
    }
  }
}
.sui-table-footer{
  height:45px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  background-color: #fafafa;
  border:1px solid #f2f2f2;
  border-top:0;
  overflow: auto;
  .sui-pagination{
    width:100%;
    .sui-pagination-pre,
    .sui-pagination-next,
    .sui-pagination-item,
    .sui-pagination-pre-disabled,
    .sui-pagination-next-disabled,
    .sui-pagination-item-active{
      border:0;
      background-color: inherit;
    }
    .sui-pagination-item-active{
      border:0;
      background-color: @primary-color;
    }
  }
}